<% if (blogs.length > 0) { %>
    <% blogs.forEach(blog => { %>
        <div class="shadow-sm card mt-4">
            <div class="card-body">
                <div class="author-details mb-2">
                    <img src="data:image/png;base64,<%= blog.author.profilePicture.data.toString('base64') %>" class="img-fluid avatar">
                    <span style="font-weight: 500; font-size: 13px;"><%= blog.author.username %></span>
                </div>
                <h3 class="title"><a href="/posts/<%= blog.id %>"><%= blog.title %></a></h3>
                <p class="snippet" style="color: rgba(117, 117, 117, 1);"><%= blog.description%></p>
                <div class="card-subtitle text-muted mb-2" style="font-weight: 500; font-size: 12px;">
                    <%= blog.createdAt.toDateString() %>
                </div>
            </div>
        </div>
    <% }) %>
<% } else { %>
    <div style="text-align: center">
        <p class="snippet">Oops seems like your feed is empty</p>
    </div>
<% } %>