<html lang="en">
<head>
    <%- include('./partials/header.ejs') %>
    <link rel="stylesheet" href="/stylesheets/home-dashboard.css">
    <title>Dashboard</title>
</head>
<body>
    <%- include('./partials/nav.ejs') %> 
    <%- include('./partials/messg-alert.ejs') %> 
    <div class="main-container">
        <%- include('./partials/blog-card.ejs') %> 
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
<!-- <script>
    function replace() {
  console.log(username, "j")
  location.href(`/profile-new/${username}`);
  console.log(`/profile-new/${username}`);
}
</script> -->
<script src="/javascripts/profile-new.js"></script>
</html>