<html lang="en">
<head>
    <%- include('./partials/header.ejs') %>
    <link rel="stylesheet" href="../public/stylesheets/home-dashboard.css">
    <title>Dashboard</title>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="main-container">
        <form action="/logout?_method=DELETE" method="POST">
            <button type="submit">Logout</button>
        </form>
        <% if (blogs.length > 0) { %>
            <% blogs.forEach(blog => { %>
                <div class="para">
                    <h3 class="title"><%= blog.title %></h3>
                    <p class="snippet"><%= blog.description%></p>
                </div>
            <% }) %>
        <% } else { %>
            <p class="snippet">Oops seems like your feed is empty</p>
        <% } %>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
<script>
    function replace() {
  console.log(username, "j")
  location.href(`/profile-new/${username}`);
  console.log(`/profile-new/${username}`);
}
</script>
<script src="../public/javascripts/profile-new.js"></script>
</html>