<html lang="en">
<head>
    <%- include('./partials/header.ejs') %>
    <link rel="stylesheet" href="/stylesheets/home-dashboard.css">
    <link rel="stylesheet" href="/stylesheets/single-post-screen.css">
    <title><%= post.title %></title>
</head>
<body>
    <%- include('./partials/nav.ejs') %> 
    <%- include('./partials/messg-alert.ejs') %> 
    <div class="main-container">
        <div class="main">
            <div class="title">
                <h1><%= post.title %> </h1>
            </div>
            <div class="secondary">
                <div class="author">
                    <img src="data:image/png;base64,<%= post.author.profilePicture.data.toString('base64') %>" class="img-fluid avatar m">
                    <span><%= post.author.username %> </span> 
                    <div class="createdOn text-muted"><%= post.createdAt.toDateString() %></div>
                </div>
                <% if (post.author.id === authorID) { %>
                    <div class="edit-button">
                        <div class="btn-group">
                            <a class="edit-btn" href="/posts/update/<%= post.id %>">Edit</a>
                            <button class="delete-btn" data-bs-toggle="modal" data-bs-target="#reg-modal">Delete</button> 
                        </div>
                    </div>
                <% } %> 
            </div>
            <div class="description">
                <p><%= post.description %> </p>
            </div>
            <div class="snippet">
                <p><%- post.snippet %> </p>
            </div>
        </div>
        <div class="footer">
            SpacePark
        </div>
    </div>
    <%- include('./partials/modal.ejs') %> 
</body>
<script src="../public/javascripts/profile-new.js"></script>
</html>